/* IDContainer.css */

.cardContainer {
  border: 0.1rem solid #ccc;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 20rem;
  padding: 1.6rem;
  position: relative;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.watermark {
  opacity: 7%;
  position: absolute;
  top: 9rem;
  
}

.idNumber {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.logo {
    width: 5rem;
    height: 6rem;
    position: relative;
    left: 7rem;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.id-type {
    text-align: center;
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 600;
    color: #f50505;
    margin-bottom: 1rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 10rem;
  height: 11rem;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.address {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: Montserrat;
}

.auth {
    display: flex;
    gap: 3.5rem;
    justify-content: space-between;
    font-weight: 600;
}